.signin-container {
  background-color: #57ffff;
}
.heading {
  margin-bottom: 2rem;
  font-weight: 300;
  color: #525252;
  user-select: none;
  font-size: 4rem;
}
@media (max-width: 720px) {
  .heading {
    font-size: 2.5rem;
  }
}
.signin-input {
  display: block;
  width: 100%;
  border: 1px solid #12a775;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}
.signin-input:focus {
  outline: none;
  border: 1px solid #ccc;
}
.signin-button {
  border: none;
  padding: 0.5rem 3rem;
  background: #12a775;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.bottom-container p {
  margin-top: 0.5rem;
  font-weight: 300;
  color: #525252;
  user-select: none;
  font-size: 1.5rem;
}
.bottom-container .link {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #525252;
  user-select: none;
  font-size: 1.8rem;
  text-decoration: none;
}
.message {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
.message-error {
  background-color: #ff5c5c2d;
  border-left: 3px solid #ff5c5c;
  color: #330000;
}
.message-success {
  background-color: #00ffaa1e;
  border-left: 3px solid #00ffaa;
  color: #05412d;
}
