.logo {
  font-size: 3rem;
  font-weight: bold;
}
.logo, .nav-link {
  color: #571845;
}
.main-header {
  height: 7.5rem;
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
}
.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-item {
  margin-left: 5rem;
}
.main-nav {
  margin-left: auto;
}
.button-sign-out {
  display: inline-block;
  border: none;
  outline: none;
  background: #571845;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.6rem;
}
